@import url('../../colors.css');

.home {
    width: 70%;
    height: 40vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.home-image {
    height: 30vh;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px var(--black);
}

.home h2 {
    font-size: 3.5rem;
}

.home p {
    font-size: 1.25rem;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}

.home a {
    text-align: center;
    margin-top: 6vh;
    background-color: var(--gold);
    border-style: none;

    font-size: 1.5rem;
    font-weight: 600;
    color: var(--grey);
    height: 4vh;
    width: 20%;
    text-decoration: none;

    border-radius: 1rem;

    box-shadow: 4px 4px 4px var(--black);
}