.new-game {
    background-color: var(--gold);
    border-style: none;
    height: fit-content;
    padding: 10px;

    font-size: 1.75rem;
    font-weight: 700;
    color: var(--grey);
    border-radius: 1rem;

    box-shadow: 4px 4px 4px var(--black);
}