form {
    width: 70%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form input {
    width: 80%;
    height: 4vh;
    background-color: transparent;
    border-style: none;
    border-bottom: solid;
    border-width: 0.15rem;
    border-color: var(--white);
    color: var(--white);
    font-size: 1.5rem;
}

form input::placeholder {
    color: rgb(100, 100, 100);
}

form input:focus {
    outline: none;
}

form button {
    border-radius: 2rem;
    border-style: none;
    color: var(--grey);
    background-color: var(--gold);

    box-shadow: 4px 4px 4px var(--black);
}

form svg {
    font-size: 2.5rem;
}

@media (max-width: 768px) {
    form {
        width: 95%;
    }
}