.checkbox {
    width: 60%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.input {
    margin-right: 1.5vw;
    accent-color: var(--blue);
}

@media (max-width: 768px) {
    .input {
        margin-right: 4vw;
    }
}