@import url('../../colors.css');

.password-generator {
    height: 45vh;
    width: 30%;

    border: solid;
    border-color: var(--white);
    border-radius: 20px;
    border-width: 0.15rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.result {
    width: 60%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.output {
    height: 4vh;
    width: 70%;
    border-bottom: solid;
    border-width: 0.15rem;
    font-size: 1.75rem;
    font-weight: 400;
}

.checkbox {
    width: 60%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.copy {
    height: 4vh;
    width: 12%;
    border-radius: 1rem;
    border-style: none;
    border: solid;
    border-color: var(--white);
    border-width: 0.15rem;
    background-color: transparent;
}

.copy svg {
    font-size: 2rem;
    color: var(--pink)
}

.input {
    margin-right: 2%;
    accent-color: var(--blue);
}

.length {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 60%;
}

.range {
    accent-color: var(--blue);
}

.generating {
    height: 4vh;
    width: 40%;
    border-radius: 1rem;
    border-style: none;
    background-color: var(--gold);
    font-size: 1.5rem;
    font-weight: 600;
}