.result-text {
    margin-top: 50px;
    width: 90%;
    margin-left: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.output {
    font-size: 1rem;
}