.copy {
    height: fit-content;
    border-radius: 1rem;
    border-style: none;
    border: solid;
    border-color: var(--white);
    border-width: 0.15rem;
    background-color: transparent;
}

.copy svg {
    font-size: 2rem;
    color: var(--pink)
}