.generating {
    height: fit-content;
    padding: 5px;
    border-radius: 1rem;
    border-style: none;
    background-color: var(--gold);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--grey);
}