.mode-heading {
    text-align: center;
    margin: 0px;
}

.mode select {
    background-color: var(--grey);
    border-style: none;
    color: var(--white);
    font-size: 1rem;
    padding: 5px;
    border: solid;
    border-width: 0.15rem;
    border-radius: 1rem;
}