p {
    margin: 0px;
}

.todo {
    width: 70%;
    height: fit-content;
    padding: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 1.25rem;
}

.buttons {
    height: fit-content;
    width: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buttons button {
    background-color: transparent;

    height: fit-content;

    border-style: none;
    border: solid;
    border-color: var(--white);
    border-width: 0.15rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons svg {
    font-size: 1.5rem;
}

.finish {
    color: var(--blue)
}

.remove {
    color: var(--pink)
}

.finished {
    text-decoration: line-through;
    color: #505050;
}

@media (max-width: 768px) {
    .buttons {
        width: 100px;
    }

    .todo {
        width: 95%;
        padding: 5px;
    }
}